body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo {
    text-align: left;
    padding: 10px 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    margin-left: 1px;
    }

header {
    background-color: #000000b6;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0000003e;
    border-radius: 10px;
}

.contacto {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #000000b6;
    color: white;
    border: none;
    cursor: pointer;
    border: 10px double #0000003e;
}

form button:hover {
    background-color: #01bb5bd4;
}

footer {
    background-color: #000000b6;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
